

table.main {
  opacity: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  max-width: 1000px;
  background-color:  #002333;
  border-color: #DEEFE7;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}


#shapka{
  background: #002333;
}

table.main td.shapka {
  background-color: #159A9C;
}


h3.shapka{
  font-style: italic;
  text-align: center;
  font-size: 23px;
  color: black;
}


p.error{
  padding: 0;
  color: red;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 0;
}

h4.form{
  margin-top: 25px;
  margin-bottom: 2px;
  padding: 0;
}

img.coordin{
  width: 322px;
  height: 303px;
}

td.coordin{
  background-color: #FFFFFF;
}

#button{
  background: #FF8C00;
  border-color: #FF8C00;
  color: #fafafa;
}

#button:active{
  background: #DEEFE7;
  border-color: #DEEFE7;
  color: black;
}

table.result{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #B4BEC9;
  color: black;
}

table.result td{
  background-color: #DEEFE7;
}

table.result th{
  background-color: #DEEFE7;
}

form{
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: 5%;
}
